@import url('https://fonts.googleapis.com/css?family=Oswald:400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, #root, .App{
	height: 100%;
}

button:hover{
	cursor: pointer;
}

body {
  margin: 0;
	height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #141419;
	
}

a{
	color: #f8de31;
}

a:visited{
	color: #be8000;
}


.ErrorMsg{
	background-color: #b35151;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	border-radius: 4px;
	font-weight: 800;
	color: white;
	margin-top: 30px;
}


header{
	background-color: black;
	color: #f8de31;
	
	h1{
		margin: 0;
		padding: 10px 24px;
		font-family: 'Oswald', sans-serif;
		font-size: 32px;
		text-align: left;
		font-style: italic;
	}
}

main{
	padding: 20px;
	padding-bottom: 50px;
	margin: 0 10vw;
	min-height: 770px;
	
	.desc{
		font-size: 18px;
		color: #e7e7e7;
		text-align: center;
		margin: auto;
	}
	
	audio{
		
	}
	
	#audioContainer{
		margin-top: 15px;
		-webkit-transition: height .25s; /* Safari prior 6.1 */
		transition: height .25s;
		transition-timing-function: ease-in;
		overflow: hidden;
		
		button{
			background-color: rgba(0, 0, 0, 0.16);
			background-color: #f8de31;
			border-color: #f8de31;
			border-style: solid;
			border-width: 3px;
			border-radius: 2px;
			color: black;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 800;
			text-align: center;
			padding: 5px 15px;
		}
		
		div{
			display: inline-block;
			margin: 5px;
			
			p{
				background-color: rgba(0, 0, 0, 0.16);
				border-color: #f8de31;
				border-width: 3px;
				border-style: solid;
				border-radius: 2px;
				color: #f8de31;
				font-family: 'Montserrat', sans-serif;
				font-size: 18px;
				font-weight: 800;
				text-align: center;
				padding: 5px 15px;
			}
			
			audio{
				display: none;
			}
		}
	}
	
	#audioContainer.hide{
		height: 0;
		margin-top: 0px;
	}
	
	#req_container{
		position: relative;
		display: inline-flex;
		width: 100%;
		margin: 30px 0px;
	}
	
	#req_input{
		width: 100%;
		padding: 18px;
		font-size: 18px;
		color: #323232;
		border-radius: 5px;
		border: none;
		z-index: 1;
	}
	
	#req_input::placeholder{
		font-size: 18px;
		opacity: .5;
		font-style: italic;
	}
	
	#clear_input{
		border: none;
		font-weight: 800;
		background-color: rgba(255, 255, 255, 1);
		position: absolute;
		color: black;
		font-size: 18px;
		z-index: 2;
		right: 10px;
		bottom: 0;
		height: 100%;
	}
	
	#clear_input:hover{
		cursor: pointer
	}
	
	#fleshmonk_container{
		float: right;
	}
	
	#req_generate{
		border: none;
		border-radius: 5px;
		background-color: #f8de31;
		color: black;
		font-size: 26px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		padding: 10px 20px;
	}
	
	#req_generate:hover{
		cursor: pointer;
	}
	
	#fleshmonk_container:after {
		    content: '';
			position: relative;
			top: -161px;
			left: -240px;
			width: 0;
			height: 0;
			border: 80px solid transparent;
			border-top-color: #ffffff;
			border-bottom: 0;
			border-right: 0;
			margin-left: -24.5px;
			margin-bottom: -49px;
	}
	
	#fleshmonk_logo{
		height: 200px;
		width: 200px;
	}
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.wordList{
	font-family: 'Montserrat', sans-serif;
	margin-top: 200px;
	
	h2{
		color: white;
		font-size: 32px;
		text-align: center;
	}
	
	
	.letterContainer{		
		
		padding: 10px 40px;
		
		h3{
			font-size: 24px;
			color: #f8de31;
		}
		
		ul{
			list-style: none;
			padding: 0;
		}
		li{
			padding: 2px 0px;
			
			button{
				padding: 10px 15px;
				color: #e7e7e7;
				font-size: 18px;
				border: none;
				background-color: rgba(0, 0, 0, 0.16);
			}
			
			button:hover{
				cursor: pointer;
			}
		}
	}
}

footer{
	width: 100%;
	box-sizing : border-box;
	
	img{
		display: inline;
		width: 20px;
		height: 20px;
		vertical-align: text-bottom;
		padding-right: 5px;
	}
	
	p{
		display: inline;
	}
	
	background-color: #000000;
	padding: 10px 25px;
	color: #cecece;
	text-align: center;
}

@media(max-width: 768px){
	main {
		padding: 20px;
		margin: 0 5vw;
	}
}

@media(max-width: 710px){
	main {
		padding: 20px;
		margin: 0 10px;
	
		#fleshmonk_logo {
			height: 150px;
			width: 150px;
		}
		
		#fleshmonk_container:after{
			top: -127px;
			left: -162px;
			border-top-color: #ffffff;
			margin-left: -24.5px;
			margin-bottom: -49px;
		}
	}
}

@media(max-width: 425px){
	main {
		padding: 20px;
		margin: 0 10px;
	
		#fleshmonk_logo {
			height: 125px;
    		width: 125px;
		}
		
		#fleshmonk_container:after{
			top: -105px;
			left: -32px;
			border: 40px solid transparent;
			border-left: 0;
		}
	}
}

@media(max-width: 375px){
	main {
		padding: 20px;
		margin: 0 10px;
	
		#fleshmonk_logo {
			height: 100px;
    		width: 100px;
		}
		
		#fleshmonk_container:after{
			display: none;
		}
	}
}
